@import '../../styles/sass/main.scss';

.about {
    &-container {
        background-color: $dark-blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 20px;
        min-height: calc(100vh - 80px);
        width: 100%;
    }
    
    &-header {
        justify-self: center;
        align-self: center;
        position: relative;
        padding: 40px;
        height: 420px;

        @include respond-to(tablet) {
            height: clamp(250px, 40vw, 400px);
            padding: 20px 40px;
        }

        img {
            position: absolute;
            right: 0px;
            height: 340px;
            width: 340px;
            object-fit: cover;

            @include respond-to(tablet) {
                height: clamp(200px, 35vw, 340px);
                width: clamp(200px, 35vw, 340px);
            }
        }
    
        h1 {
            position: absolute;
            top: 170px;
            left: 10px;
            background-color: $white;
            width: 320px;
            height: 120px;
            text-align: center;
            line-height: 120px;
            color: $dark-blue;

            @include respond-to(tablet) {
                width: clamp(160px, 25vw, 300px);
                height: clamp(60px, 8vw, 100px);
                font-size: clamp(35px, 6vw, 60px);
                line-height: clamp(60px, 9vw, 120px);
                top: clamp(100px, 19vw, 150px);
                left: 40px;
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
        p {
            min-width: 700px;
            width: 40%;
            font: 18px/26px $font-montserrat;
            color: $white;
            margin-bottom: 14px;
            text-align: left;

            @include respond-to(tablet) {
                width: 90%;
                min-width: 200px;
                max-width: 700px;
            }
        }
    }
}