@import "../../styles/sass/main.scss";

.hamburger-menu-container {
    display: none;

    @include respond-to(tablet) {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $white;

        -webkit-animation: slideIn 0.5s forwards;
        -moz-animation: slideIn 0.5s forwards;
        animation: slideIn 0.5s forwards;
    }
}

.hamburger-header {
    display: none;

    @include respond-to(tablet) {
        height: 80px;
        padding: 0 30px 0 40px;
        font-size: $h4-font-size;

        -webkit-animation: slideIn 0.5s forwards;
        -moz-animation: slideIn 0.5s forwards;
        animation: slideIn 0.5s forwards;

        i {
            font-size: 3rem;
        }
    }
}

.hamburger-nav-links {
    display: none;

    @include respond-to(tablet) {
        flex: 3;
        font-size: $h3-font-size;

        -webkit-animation: slideIn 0.5s forwards;
        -moz-animation: slideIn 0.5s forwards;
        animation: slideIn 0.5s forwards;
    }
}

.hamburger-media-links {
    display: none;

    @include respond-to(tablet) {
        flex: 1;

        -webkit-animation: slideIn 0.5s forwards;
        -moz-animation: slideIn 0.5s forwards;
        animation: slideIn 0.5s forwards;
    }
}

.slide-out {
    transform: translateX(0);
}

@-webkit-keyframes slideIn {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

@-moz-keyframes slideIn {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

@keyframes slideIn {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

