// font imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

// Font Variables
$font-poppins: 'Poppins';
$font-montserrat: 'Montserrat';

// header font sizes
$h1-font-size: 72px;
$h2-font-size: 60px;
$h3-font-size: 33px;
$h4-font-size: 28px;
$h5-font-size: 23px;
$h6-font-size: 19px;

// paragraph font sizes
$p-font-size: 18px;